body {
    background: #F6F1E3;
  }

h1{
    font-family: 'Optima', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    text-transform: uppercase;

    color: #B36A5E;
}

h2{
    font-family: 'Optima', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 57px;
    
    color: #B36A5E;}

h3{
    font-family: 'Optima', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    
    color: #B36A5E;
}

h4{
    font-family: 'Avantgarde', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 50px;

    color: #B36A5E;
}

h5{
    font-family: 'Avantgarde', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 50px;

    color: #B36A5E;
}
h6{
    font-family: 'Avantgarde' sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 40px;

    color: #B36A5E;
}

p{
    font-family: 'Judson', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #1C3144;
}

ol + ul{
    font-family: 'Judson';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #5F634F;

}

li{
    font-family: 'Judson';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #5F634F;

}

a:link{
    font-family: 'Judson';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #5F634F;
}

a:hover{
    font-family: 'Judson';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #8B9E7E; 
}

a:visited{
    font-family: 'Judson';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #B36A5E; 
}

hr{
    border-width: 1px;border: 7px solid #5F634F;  
}

