body {
    display: grid;
    background: #F6F1E3;
    place-items: center;
    padding: 5px;
  }

h1{
    font-family: 'Optima', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    text-align: center;

    color: #B36A5E;
}

h2{
    font-family: 'Optima', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    
    color: #B36A5E;}

h3{
    font-family: 'Optima', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin: 20px;
    
    color: #B36A5E;
}

h4{
    font-family: 'Avantgarde', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #5F634F;
    margin: 20px;
}

h5{
    font-family: 'Avantgarde', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    margin: 20px;

    color: #5F634F;
}
h6{
    font-family: 'Avantgarde' sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 20px;

    color: #5F634F;
}

p{
    font-family: 'Judson', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #1C3144;
}

ol + ul{
    font-family: 'Judson';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;

    color: #5F634F;

}

li{
    font-family: 'Judson';
    font-style: normal;
    font-weight: 400;
    text-align: center;

    color: #5F634F;

}

a:link{
    font-family: 'Judson';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #5F634F;
}

a:hover{
    font-family: 'Judson';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #8B9E7E; 
}

a:visited{
    font-family: 'Judson';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #B36A5E; 
}

hr {
    border-width: 1px;
    border: 1px dashed #8B9E7E;  
    margin: 10px
}


  
.navbar a {
    color:#B36A5E;
    padding: 15px;
    text-decoration: none;
    text-align: center;
}
  
.navbar a:hover {
    color:#5F634F;
}

.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin: 50px;
}

.other2{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1px;
    justify-content: space-around;
}

@media (max-width: 500px){
    .image, .other, .home{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1px;
        justify-content: space-around;
    }
    .contact{
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1px;
        justify-content: space-around;
        margin-top: 15px;
    }
    .navbar{
        flex-direction: column;
    }
    .column {
      display: block;
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }
}

@media (min-width: 501px){
    .contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
}  
    .column {
    float: left;
    width: 41.33%;
    margin: 30px;
  }

  .image {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

    .other{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    justify-content: space-around;
} 
}

.navbar {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px;
    background-color: #e5dec8;
    justify-content: space-around;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .canvas {
    width: 75vmin;
    height: 75vmin;
    background: hsl(0, 0%, 100%);
    display: grid;
    place-items: center;
  }

  button {
    background-color: #B36A5E;
    color: #F6F1E3;
    border: none;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #e49185;
    transition: 0.5s;
  }