h1{
  font-family: 'Optima', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 75px;
  text-transform: uppercase;
  text-align: center;

  color: #B36A5E;
}

body {
  width: 640px;
  margin: 0 auto;
  background: #F6F1E3;
}

.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 480px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgba(0,0,0,0);
}

button {
  border: 0;
  background: rgba(150,150,150,0.6);
  text-shadow: 1px 1px 1px white;
  border: 1px solid #999;
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
}

.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
}
